/SmartButton_rev2/button30mm_rev2-backups
/software/SmartButton_firmware/smartbutton.X/build
software/SmartButton_firmware/smartbutton.X/defmplabxtrace.log
software/SmartButton_firmware/smartbutton.X/defmplabxtrace.log.inx
/software/SmartButton_firmware/smartbutton.X/dist
/software/UsbJoy_pic_firmware/usbjoystick_pic.X/build
/software/UsbJoy_pic_firmware/usbjoystick_pic.X/dist
*.swp
*~
/SmartButton_rev3/button30mm_rev3-backups
*.lck
SmartButton_rev3/fp-info-cache
/SmartButton_rev3/button30mm_r3_gerber
